{% load static %}
{% include "main/includes/head.html" %}
{% include "main/includes/navbar.html" %}

<br>
  <div class="container">
    <form method="POST" class="col s12 ">
      <div class="row s6" style="width: 400px;">
      {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag}}<br>
        {{ field }}
        {% if field.help_text %}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %} 
    </form>
    <br>
    <button class="btn btn-large waves-effect waves-light center" type="submit" name="action">Submit
    </button>
    <br>
    <br>
    <br>
    If you don't have an account <a href="{% url 'signup' %}">Sign Up </a> instead.  
    <br>
</div>
</div>
<br>

{% include "main/includes/footer.html" %}
