{% load static %}
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="column">
      <div class="col l6 s12">
        <h5 class="white-text">About us</h5>
        <p class="grey-text text-lighten-4">Jimma University was founded on the amalgamation of the the Jimma Institute of Health Science and 
          the Jimma College of Agriculture in the 1980’s. Both institutions had been national leaders in their respective fields,
           and with the merger, the development of a new, multifaceted and development oriented institution was able to emerge 
           from the two former specialty institutions.</p>
      </div>
    </div>
    <div class="column">
       
      <div class="social" style="">
        <a href="https://www.facebook.com/JimmaUniv" target="_blank"><span class="fab fa-facebook-f" style="font-size: 30px; margin: 10px;"></span></a>
        <a href="https://twitter.com/JimmaUniv?s=09" target="_blank"><span class="fab fa-twitter"  style="font-size: 30px;margin: 10px;"></span></a>
        <a href="https://www.youtube.com/channel/UCtyhlHBXkxzIsS20ZPd3vow" target="_blank" style="font-size: 30px; margin: 10px;"><span class="fab fa-youtube"></span></a>
      </div>
    </div>

    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
    </a>
    </div>
  </div>
</footer>


  <!--  Scripts-->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<script src="{% static 'js/Jscode.js' %}"></script>

